

.itemDetail{
    background-color: #422719;
    height: 600px;
    background-image: url(../assets/img/fondoItemDetail.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 90px);
}

.itemDetail .info, .img{
    padding: 40px;
    margin: 30px 40px;
}

.itemDetail .info{
    background-color: #C2A897;
    border-radius: 15px;
    border: #cfbfb4 solid 2px;
}
.itemDetail .img{
    padding: 0;
    margin: 0;
    width: 400px;
    height: auto;
}
.itemDetail img{
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 26px -2px rgba(66,39,25,1);
    -moz-box-shadow: 0px 0px 26px -2px rgba(66,39,25,1);
    box-shadow: 0px 0px 26px -2px rgba(66,39,25,1);
}
.info h3{
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
.info{
    width: 600px;
}
.info span{
    font-size: 24px;
    font-weight: bold;
}
.info button{
    background-color: #422719;
    border: #422719 solid 1px;
}
.info button:disabled{
    background-color: #422719af;
    border: #422719 solid 1px;

}
.info button:active{
    background-color: #ffffff00!important;
    border: #fff solid 1px!important;
}
.info button:hover{
    background-color: #422719af;
    border: #422719 solid 1px;
}
.seeMoreProducts{
    background-color: #422719!important;
    border: #422719 solid 1px!important;
    margin-top: 10px;
}
.seeMoreProducts:hover{
    background-color: #422719af!important;
    border: #422719 solid 1px!important;

}
.seeMoreProducts:active{
    background-color: #ffffff00!important;
    border: #fff solid 1px!important;

}
.unidadesToAdd{
    margin: 25px;
}
.divItemCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.addToCart{
    text-align: center;
    margin-bottom: 15px;
}
.buttonAfterAdd{
    background-color: #422719 !important;
    border: #422719 solid 1px !important;
    margin: 5px!important;
}
.buttonAfterAdd:hover{
    background-color: #422719af!important;
    border: #422719 solid 1px!important;

}

.productsTitle{
    background-color: #cfbfb4;
    background-image: linear-gradient(0deg, #cfbfb4 0%, #c2a897 99%);
    
    -webkit-box-shadow: 0px 7px 18px 4px rgba(207,191,180,1);
    -moz-box-shadow: 0px 7px 18px 4px rgba(207,191,180,1);
    box-shadow: 0px 7px 18px 4px rgba(207,191,180,1);}
